<div class="preview__container">
  <div class="preview__title_container">
    <h1 class="h1 text-white text-center">
      Идеальные путешествия существуют
    </h1>
  </div>

  <div class="preview__subtitle_container">
    <p class="p-normal text-white text-center">
      Идейные соображения высшего порядка, а также рамки и место обучения кадров
    </p>
  </div>
</div>