<!DOCTYPE html>
<html lang="en">
  <head>
    {{> partials/head-info/meta }}
    {{> partials/head-info/favicon }}

    <title>Feedback</title>
  </head>
  
  <body>
    {{> partials/header }}

    <span>feedback page</span>
  </body>
</html>